* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom left, #000066, #720267, #df0d51, #feea05)
}

h2 {
    color: white;
}

button {
    border: 0;
    border-radius: 20px;
    padding: 10px;
    background-color: #000066;
    color: white;
}

.container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.esito, .user-number, .computer-number {
    display: flex;
    justify-content: center;
}

.esito {
    border-radius: 5px;
    padding: 10px 0;
}

.win {
    color: #feea05;
    border: 2px solid #feea05;
    padding: 10px;
    border-radius: 5px;
}

.tie {
    padding: 10px;
    background-color: #000066;
    color: white;
    border-radius: 5px;
}

.lose {
    color: #720267;
    border: 2px solid #720267;
    padding: 10px;
    border-radius: 5px;
}

